node_modules/
public/

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Notebook checkpoints
.ipynb_checkpoints

# ViM
.*.swp

# Emacs
\#*#

# OS files
# Ignore all .DS_Store files in the project
**/.DS_Store
desktop.ini

# Archives
# *.zip

# Vagrant
.vagrant

.vscode
**/.vscode

# Data
.csv

# Ignore all CSV files in the project
**/*.csv

# Ignore Hugging Face token file
upload_to_hugging_face/token.txt